body {
  background-image: url("https://i.ibb.co/34vv0R3/adult-3365364-19820.jpg");
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.navbar {
  background-color: transparent !important;
}

