.offres-card .card {
  will-change: transform;
}

.badge-offre {
  white-space: pre-line;
  text-align: left;
}

@include media-breakpoint-up(sm) {
  .offres-card .card {
    height: 28rem;
  }
}

@include media-breakpoint-down(sm) {
  .offres-card .card {
    height: 24rem;
  }
}
