.offres-stack .stack-container {
  position: relative;
  perspective: 1000px;
  perspective-origin: 50% -50%;
}

@include media-breakpoint-up(sm) {
  .offres-stack .stack-container {
    height: 30rem;
  }
}

@include media-breakpoint-down(sm) {
  .offres-stack .stack-container {
    height: 26rem;
  }
}

.btn-green {
  background-color: #6eb700;
  color: white;
}
