.jumbotron {
  background-image: url("https://i.ibb.co/34vv0R3/adult-3365364-19820.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 10px;
  padding-top: 10px;
}

.btn.top-banner-rounded {
  border-radius: 160px;
}
