<footer class="footer py-3 bg-transparent">
  <div class="container">
    <div class="row align-items-center font-weight-light" id="faq">
      <div class="col-12 text-center">
        <h5>Questions/Réponses</h5>
        A quelles situations de personne s'adressent ce site ? >> Aux demandeurs d'emploi inscrits chez Pôle emploi<br>
        Qui finance la formation ? >> La région Grand Est dans le cadre du Programme Régional de Formation<br>
        Quelles rémunérations ai-je droit pendant la formation ? >> Informez-vous sur les modalités possibles de rémunération auprès votre
        conseiller pôle emploi
        <br>
        Quelles sont les informations envoyées aux entreprises ? >> Nous contactons les entreprises avec vos coordonnées et CV<br>
        Quand dois-je contacter mon conseiller Pôle emploi ? >> A tout moment et dans tous les cas, avant votre période d'immersion en
        entreprise
        <br>
        Combien de temps dure la période d'immersion ? >> Entre 1 et 5 jour(s)<br>
        Comment se déroule la rencontre avec une entreprise ? Calez le rendez-vous directement avec l'entreprise par mail ou téléphone<br>
        Comment se déroule l'inscription à la formation ? >> Lors d'un rendez-vous avec votre conseiller pôle emploi, vous convenez ensemble
        des
        modalités d'inscription
        <br>
        Quels types de contrat proposent les entreprises ? >> Des contrats à durée déterminée (CDD) de 6 mois et plus ou des contrats à
        durée
        indéterminée (CDI)
        <br>
        Quels types de poste sont diffusés ? >> Tous les postes sont ouverts au débutant et dans une zone géographique de 10 km autour de
        Metz<br>
        Où les formations ont-elles lieu ? >> Dans un rayon d'environ 50 km autour de Metz<br>
        A quoi sert ce service ? >> Mettre en relation des demandeurs d'emploi avec des entreprises qui recrutent autour d'un projet de
        formation
      </div>
    </div>
  </div>
</footer>