<footer class="footer text-white mt-2 fixed-bottom bg-dark">
  <div class="container">
    <i>Trait d'union - réalisé par la Région Grand Est en collaboration avec beta.gouv.fr</i>
  </div>
</footer>

