<div class="row justify-content-center text-white text-center my-2">
  <h4 class="text">👇 Choisissez votre niveau d'étude actuel 👇</h4>
</div>
<div class="row justify-content-center mb-5">
  {{#bs-button-group class="d-flex d-sm-none" value=currentFilter type="radio" onChange=(action "filterByNiveau") as |bg|}}
    {{#bg.button type="primary" class="text-uppercase" value=""}}Tous{{/bg.button}}
    {{#bg.button type="primary" class="text-uppercase" value="sans-diplome"}}Sans diplôme{{/bg.button}}
  {{/bs-button-group}}
  {{#bs-button-group class="d-flex d-sm-none mt-2" value=currentFilter type="radio" onChange=(action "filterByNiveau") as |bg|}}
    {{#bg.button type="primary" class="text-uppercase" value="cap-bep"}}BEP-CAP{{/bg.button}}
    {{#bg.button type="primary" class="text-uppercase" value="bac-bac+1"}}BAC ou BAC+1{{/bg.button}}
  {{/bs-button-group}}
  {{#bs-button-group class="d-flex d-sm-none mt-2" value=currentFilter type="radio" onChange=(action "filterByNiveau") as |bg|}}
    {{#bg.button type="primary" class="text-uppercase" value="bac+2"}}BAC+2{{/bg.button}}
    {{#bg.button type="primary" class="text-uppercase" value="bac+3-bac+4"}}BAC+3 ou BAC+4{{/bg.button}}
  {{/bs-button-group}}

  {{#bs-button-group class="d-none d-sm-flex" value=currentFilter type="radio" onChange=(action "filterByNiveau") as |bg|}}
    {{#bg.button type="primary" class="text-uppercase" value=""}}Tous{{/bg.button}}
    {{#bg.button type="primary" class="text-uppercase" value="sans-diplome"}}Sans diplôme{{/bg.button}}
    {{#bg.button type="primary" class="text-uppercase" value="cap-bep"}}BEP-CAP{{/bg.button}}
    {{#bg.button type="primary" class="text-uppercase" value="bac-bac+1"}}BAC ou BAC+1{{/bg.button}}
    {{#bg.button type="primary" class="text-uppercase" value="bac+2"}}BAC+2{{/bg.button}}
    {{#bg.button type="primary" class="text-uppercase" value="bac+3-bac+4"}}BAC+3 ou BAC+4{{/bg.button}}
  {{/bs-button-group}}
</div>
<div class="offres-filter row justify-content-center mb-2">
  <div class="row border bg-white justify-content-center offres-filter-rounded mb-5-md mb-2-sm">
    🔍
    {{input
      value=this.keyword
      key-up=(action "filterByKeyword")
      class="light no-border text-secondary"
      placeholder="Filtrer par mot-clé"
      size="30"
    }}
  </div>
</div>
<div class="mb-3">
  {{yield this.results}}
</div>
