<OffresFilter @offres={{this.offres}} as |filteredOffres|>
  {{#bs-accordion class="shadow-sm" as |acc|}}
    {{#each filteredOffres use=transition as |offre|}}
      {{#acc.item as |aitem|}}
        {{#aitem.title class="bg-light"}}
          <div class="text-secondary justify-content-center">
            <Offre @offre={{offre}}></Offre>
          </div>
        {{/aitem.title}}
        {{#aitem.body}}
          <div class="row justify-content-center text-secondary text-wrap mx-0 mt-sm-4">
            <div class="text-left">
              {{offre.description}}
            </div>
          </div>
          <div class="row justify-content-center text-secondary text-wrap mx-0 mt-sm-4">
            {{#bs-button
              onClick=(action "postuler" offre)
              type="primary"
              class="mt-3 text-uppercase"
              defaultText="Ça m'intéresse 👍"
              pendingText="Envoi de la candidature..."
              fulfilledText="Candidature envoyée 🚀"
              disabled=button.isFullfilled
            as |button|
            }}
              {{#if button.isPending}}
                <span class="spinner-border spinner-border-sm"></span>
              {{/if}}
            {{/bs-button}}
          </div>
        {{/aitem.body}}
      {{/acc.item}}
    {{else}}
      <div class="row justify-content-center mt-4">
        Aucune offre ne correspond au filtre sélectionné pour le moment. Revenez demain !
      </div>
    {{/each}}
  {{/bs-accordion}}
</OffresFilter>
