<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
              aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <img class="img navbar-brand" width="200" src="https://i.ibb.co/7bgfdFK/logo2-1.png" alt="logo">
      <div class="collapse navbar-collapse justify-content-end" id="navbarToggler">
        <ul class="nav">
          <li class="nav-item">
            <button type="button" class="btn btn-primary btn-sm text-uppercase">à propos</button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-primary btn-sm text-uppercase ml-3">aide</button>
          </li>
        </ul>
      </div>
    </nav>
    <div class="row justify-content-center">
      <h1 class="display-4 text-center text-white mt-4 w-75">Trouvez un emploi à Metz grâce à une formation qualifiante</h1>
    </div>
    <div class="row justify-content-center">
      <button type="button" class="btn btn-primary btn-lg text-uppercase top-banner-rounded mt-5">rencontrer une entreprise 🚀</button>
    </div>
  </div>
</div>
