<div class="container-fluid px-0 header text-white h-fullscreen" data-overlay="1">
  <div class="container text-center h-100">
    {{#bs-navbar type=type collapsed=collapsed onCollapse=(action (mut collapsed) true)
                 onExpand=(action (mut collapsed) false)
    as |navbar|}}
      {{navbar.toggle}}
      <img class="img navbar-brand d-none d-sm-block" width="200" src="https://i.ibb.co/7bgfdFK/logo2-1.png" alt="logo">
      {{#navbar.content class="justify-content-end"}}
        {{#navbar.nav as |nav|}}
          <ul class="nav">
            <li class="nav-item">
              {{#nav.item}}
                <a {{action navbar.collapse preventDefault=false}} href="https://beta.gouv.fr/startups/trait-d-union.html" target="_blank"
                                                                   rel="noopener"
                                                                   class="btn btn-primary btn-sm text-uppercase">
                  à propos
                </a>
              {{/nav.item}}
            </li>
            <li class="nav-item">
              {{#nav.item}}
                {{#scroll-to href="#faq"}}
                  <button {{action navbar.collapse}} type="button" class="btn btn-primary btn-sm text-uppercase ml-3">aide</button>
                {{/scroll-to}}
              {{/nav.item}}
            </li>
          </ul>
        {{/navbar.nav}}
      {{/navbar.content}}
    {{/bs-navbar}}

    <div class="row h-100 mt-90">
      <div class="col-lg-8 mx-auto align-self-center">
        <h1>
          Trouvez un emploi à Metz grâce à une formation qualifiante
        </h1>
        {{#scroll-to href="#steps"}}
          <button class="btn btn-primary btn-lg text-uppercase top-banner-rounded my-5 px-5" type="button">
            rencontrer une entreprise 🚀
          </button>
        {{/scroll-to}}
      </div>
    </div>
  </div>
</div>
