<div class="flex-column col mb-2">
  <div class="row justify-content-center pt-4 bg-white">
    <h2 class="text-secondary">
      Vous devez être identifié pour accéder aux offres.
    </h2>
  </div>
  <div class="row justify-content-center pt-4 bg-white">
    <div class="col text-secondary py-2">
      C'est ma première candidature sur le site ➡️
      {{#bs-button
        type="primary"
        class="text-uppercase"
        onClick=(action "openForm")
      }}
        Inscription
      {{/bs-button}}
    </div>
  </div>
  <div class="row justify-content-center py-4 bg-white">
    <div class="col text-secondary py-2">
      {{#bs-form
        formLayout="inline"
        class="justify-content-center" as |form|}}
        J'ai déjà postulé avec cet email sur le site ➡️
        {{form.element
          control-type="email"
          placeholder="email"
          property="email"
          required=true
          onChange=(action "emailChanged")
        }}
        {{#bs-button
          type="primary"
          class="text-uppercase"
          disabled=retrieveAccountButtonDisabled
          onClick=(action "retrieveAccount")
        }}
          Connexion
        {{/bs-button}}
      {{/bs-form}}
    </div>
  </div>

</div>
{{#if isShowingError}}
  {{#bs-modal
    open=true
    position="center" as |modal|}}
    {{#modal.header}}
      <div class="modal-title">
        ❌ Erreur
      </div>
    {{/modal.header}}
    {{#modal.body}}
      <div class="row-fluid">
        Aucun compte n'existe avec cet email. Vérifiez votre saisie.
      </div>
    {{/modal.body}}
  {{/bs-modal}}
{{/if}}
