

$primaryColor: #0053B3;
$fontColor: #53657d;
$white: #ffffff;
$black: #1c1c1c;
$blackRussian: #101725;
$blackRussianLite: #232630;
$aliceBlue: #f7f9fc;
$aliceBlueLite: #f9fbfe;
$aliceBluedark: #515666;
$solitude: #f0f3f7;
$snow: #fbfbfb;


$headerFont:  'Source Sans Pro', Arial, sans-serif;
$bodyFont:  'Source Sans Pro', Arial, sans-serif;


// f7f9fc #aaaaaa
