@charset "utf-8";

$primary: #1b82ab;
$secondary: #3a3a3a;
$info: #eeeeee;
$enable-shadows: true;

@import "defaults/fonts";
@import "defaults/margins";

@import "ember-bootstrap/bootstrap";

@import "components/offre";
@import "components/top-banner";
@import "components/steps";


.btn-link.focus, .btn-link:focus {
  text-decoration: none;
}
