@charset "utf-8";

$primary: #1b82ab;
$secondary: #3a3a3a;
$info: #eeeeee;

@import "defaults/fonts";
@import "defaults/margins";

@import "ember-bootstrap/bootstrap";

@import "components/offres-filter";
@import "components/offre";
@import "components/navbar";
@import "components/steps";

.btn-link.focus, .btn-link:focus,
.btn-link.hover, .btn-link:hover {
  text-decoration: none;
}

.card-header {
  padding-left: 0;
  padding-right: 0;
}

main > .container {
  padding: 76px 15px 0;
}
